<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NoBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServelet</display-name>
    <servlet-name>RegisterServelet</servlet-name>
    <servlet-class>com.controller.RegisterServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServelet</servlet-name>
    <url-pattern>/RegisterServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.controller.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServelet</display-name>
    <servlet-name>SearchServelet</servlet-name>
    <servlet-class>com.controller.SearchServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServelet</servlet-name>
    <url-pattern>/SearchServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServelet</display-name>
    <servlet-name>DisplayServelet</servlet-name>
    <servlet-class>com.controller.DisplayServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServelet</servlet-name>
    <url-pattern>/DisplayServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServelet</display-name>
    <servlet-name>LogoutServelet</servlet-name>
    <servlet-class>com.controller.LogoutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServelet</servlet-name>
    <url-pattern>/LogoutServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalance</display-name>
    <servlet-name>CheckBalance</servlet-name>
    <servlet-class>com.controller.CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalance</servlet-name>
    <url-pattern>/CheckBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recharge</display-name>
    <servlet-name>Recharge</servlet-name>
    <servlet-class>com.controller.Recharge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recharge</servlet-name>
    <url-pattern>/Recharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMoney</display-name>
    <servlet-name>AddMoney</servlet-name>
    <servlet-class>com.controller.AddMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoney</servlet-name>
    <url-pattern>/AddMoney</url-pattern>
  </servlet-mapping>
  
  <error-page>
   <exception-type>java.lang.Throwable</exception-type >
   <location>/ShowError.jsp</location>
</error-page>
  
</web-app>