<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineQuiz</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterDetails</display-name>
    <servlet-name>EnterDetails</servlet-name>
    <servlet-class>com.controller.EnterDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterDetails</servlet-name>
    <url-pattern>/EnterDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyController</display-name>
    <servlet-name>CompanyController</servlet-name>
    <servlet-class>com.controller.CompanyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyController</servlet-name>
    <url-pattern>/CompanyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamController2</display-name>
    <servlet-name>ExamController2</servlet-name>
    <servlet-class>com.controller.ExamController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamController2</servlet-name>
    <url-pattern>/ExamController2</url-pattern>
  </servlet-mapping>
</web-app>